@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --main-bg-color: #141414;
}

* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

hr {
    border: 4px solid #2f2f2f;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
}

body {
    background-color: var(--main-bg-color);
}

header h1 {
    font-family: 'Varela Round', sans-serif;
    color: white;
}

.wrapper {
    display: grid;
    width: 91vw;
    min-height: 160vw;
    margin: 4vw auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: var(--main-bg-color);
    border-radius: 5px;
    gap: 5vw;
}

.box {
    background-color: #2B2B2B;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: rgb(126, 126, 126) 0px 5px 15px; */
}

footer {
    height: 70px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer a {
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px;
} */

footer p {
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-size: 20px;
}

footer p a {
    color: white;
    text-decoration: none;
}